<div class="container">
  <h1 class="mt-4">Usuários</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{ user.id ? 'Editar Usuário' : 'Cadastrar Usuário'}}</li>
  </ol>
</div>
<div class="container">
    <form #clientform="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Usuário adicionado/salvo com sucesso!
                </div>
                <!-- <div class="alert alert-danger" role="alert" *ngFor="let erro os errors">
                    {{ erro }}
                </div> -->
            </div>
        </div>

        <div class="row" *ngIf="user.id">
            <div class="col-md-12">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control"
                             [ngModel]="user.id" name="id" disabled="true"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control"
                             [(ngModel)]="user.name" name="name"/>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Nome Usuário: *</label>
                  <input type="text" class="form-control"
                            [(ngModel)]="user.username" name="username"/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Senha: *</label>
                  <input type="password" class="form-control"
                            [(ngModel)]="user.password" name="password"/>
              </div>
          </div>
      </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email: *</label>
                    <input type="text" class="form-control"
                            [(ngModel)]="user.email" name="email"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuário: *</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="user.registryUser" name="registryUser"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" *ngIf="!user.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-success" *ngIf="user.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>

                <button type="button" class="btn btn-secondary ml-1" routerLink="/user-list">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>

                <!-- Button open modal -->
                <button type="button" class="btn btn-danger ml-1" *ngIf="user.id" (click)="confirmDeletion(user)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="fa fa-trash"></i> Excluir
                </button>
            </div>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Usuário?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Deseja realmente excluir o usuário <b>{{user.name}}</b>?
              </div>

              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success" (click)="deleteUser()"routerLink="/user-list">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> <i class="fa fa-arrow-alt-circle-left"></i>Voltar</button>
              </div>
           </div>
      </div>
   </div>
</div>


