.container {
  justify-content: center;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color:#243B3B;
  text-align: left;
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 60px;
  width: 40%;
}

.form-group{

  max-width: 100%;

}
.title{
  text-align: center;
}

.btn {
  text-align: center;
  display: block;

}


.btn-outline-success {
  color: white;
  background-color: #243B3B;
  margin: 0 auto;
  width: 150px;
  cursor: pointer;
  animation: pulse 2s infinite;

}
