<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ client.id ? 'Editar Cliente' : 'Cadastro Cliente'}}</li>
</ol>
<div class="container">
    <form #clientform="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente adicionado/salvo com sucesso!
                </div>
                <!-- <div class="alert alert-danger" role="alert" *ngFor="let erro os errors">
                    {{ erro }}
                </div> -->
            </div>
        </div>

        <div class="row" *ngIf="client.id">
            <div class="col-md-12">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control"
                            [ngModel]="client.id" name="id" disabled="true"/>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control"
                            [(ngModel)]="client.name" name="name"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email: *</label>
                    <input type="text" class="form-control"
                            [(ngModel)]="client.email" name="email"/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Celular: *</label>
                    <input type="text" class="form-control"
                            [(ngModel)]="client.cel" name="cel"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control"
                            [(ngModel)]="client.cpf" name="cpf"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuário: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="client.registryUser" name="registryUser"/>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!client.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="client.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="returnList()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>
