<nav class="navbar navbar-expand-sm navbar-custom">
  <img src="./assets/user.svg">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Adicionar Cliente</a>
    </li>
    <li class="nav-item">
      <a routerLink="clients" class="nav-link" routerLinkActive="active">Lista de Clientes</a>
  </li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2024 @Getronics</span>
  </div>
</footer>
