<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <footer class="py-4 bg-light mt-auto fixed-bottom text-center">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-center small">
                <div class="">Copyright &copy; Meus Clientes 2024 - Projeto <span class=" text-success">Getronics</span> FullStack</div>
                <div>
                    <a class="ml-3" href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
    </main>
  </div>
</div>
