<div class="container">
  <h1 class="mt-4">Categorias</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Listar Categoria</li>
  </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" routerLink="/formCategory"><i class="fa fa-plus"></i> Cadastrar</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">

          <form class="d-flex mb-5" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquisar" [(ngModel)]="searchValue" name="search">
            <select class="form-select-sm" [(ngModel)]="searchBy" name="search-filter">
              <option value="">All</option>
              <option value="type">Type</option>
              <option value="name">Name</option>
            </select>
          </form>

            <table class="table table-sm table-condensed table-hover">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories | searchfilter: searchValue: searchBy | paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalLength }">

                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.type }}</td>
                        <td>

                          <button class=" btn btn-primary"
                                    routerLink="/formCategory/{{ category.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <br>
  <div class="pagination justify-content-end">
    <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>


