<div class="container">
  <h1 class="mt-4">Pagamentos</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Listar Pagamentos</li>
  </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="createPayment()">
                <i class="fa fa-plus"></i> Cadastrar
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
          <form class="d-flex mb-5" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="searchValuepayment" name="search">
          </form>
            <table class="table table-sm table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id user</th>
                        <th>Metodo de pagamento</th>
                        <th>Data da compra</th>
                        <th>Atulização</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of payments| searchfilter:searchValuepayment |  paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalLength } ">
                        <td>{{ payment.idUser }}</td>
                        <td>{{ payment.paymentMethod }}</td>
                        <td>{{ payment.created | date:'dd/MM/yyyy  HH:mm:ss' }}</td>
                        <td>{{ payment.updated  | date:'dd/MM/yyyy  HH:mm:ss'}}</td>
                        <td>{{ payment.value | currency}}</td>
                        <td>{{ payment.status}}</td>
                        <td>
                          <button class=" btn btn-primary"
                                  routerLink="/payment/form/{{payment.id}}">
                              <i class="fa fa-edit"></i>
                          </button>
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination justify-content-end">
      <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
  </div>

