<div id="layoutSidenav_nav" style="height: 100%;">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home">
          <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
          Home
        </a>
        <div class="sb-sidenav-menu-heading">Cadastros</div>
        <a class="nav-link collapsed" routerLink="/client-list" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
          Clientes
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>

        <a class="nav-link collapsed" routerLink="/user-list" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
            Usuários
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>


        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="layout-static.html">Static Navigation</a><a
              class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a></nav>
        </div>
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false"
          aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
          Pedidos
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <a class="nav-link collapsed" href="/product-list" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
          ><div class="sb-nav-link-icon"><i class="fas fa-cart-plus"></i></div>
            Produtos
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
            ></a>
        <a class="nav-link collapsed" href="/service-list" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false"
          aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
          Serviços
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <a class="nav-link collapsed" routerLink="/listCategory" data-toggle="collapse" data-target="#collapsePages"
          aria-expanded="false" aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fas fa-dice"></i></div>
          Categorias
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <a class="nav-link collapsed" routerLink="/payment/list" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fa fa-credit-card"></i></div>
          Pagamentos
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                Authentication
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                Error
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
              </div>
          </nav>
      </div>
    </div>
  </div>
  <div class="sb-sidenav-footer" *ngIf="isLoggedIn()" style="font-size: 16px; color: white;">
      <div class="small">Usuário Logado:</div>
        <span> Olá, {{ getUserSession().name }} </span>
        <a (click)="logout()" style="cursor: pointer; color: #198754;"><i class="fa fa-sign-out-alt"></i>  Sair </a>
  </div>
  <div class="sb-sidenav-footer" *ngIf="!isLoggedIn()" style="font-size: 16px;">
    <a routerLink="/login" style="cursor: pointer; text-decoration: none; color: #198754;">
      <i class="fas fa-sign-in-alt"></i>  Entrar </a>
  </div>
  </nav>
</div>
