<div class="bg-purple vw-100 mt-2" >
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item "><a routerLink="/" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-light">Features</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-light">Pricing</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-light">FAQs</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-light">About</a></li>
    </ul>
    <p class="text-center text-light ">© 2024 Company, Inc</p>
  </footer>
</div>
