<div class="container">
  <h1 class="mt-4">Serviços</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{ service.serviceID ? 'Editar serviço' : 'Cadastrar serviço'}}</li>
  </ol>
</div>

<div class="container">
    <form #serviceform="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Serviço adicionado/salvo com sucesso!
                </div>
            </div>
        </div>

        <div class="row" *ngIf="service.serviceID">
            <div class="col-md-12">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [(ngModel)]="service.serviceID" name="serviceID" disabled="true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="service.serviceName" name="serviceName"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email: *</label>
                    <input type="text" class="form-control" [(ngModel)]="service.serviceEmail" name="serviceEmail"/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Status: *</label>
                    <input type="text" class="form-control" [(ngModel)]="service.serviceStatus" name="serviceStatus"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descrição: *</label>
                    <input type="text" class="form-control" [(ngModel)]="service.serviceDescription" name="serviceDescription"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Preço: *</label>
                    <input type="text" class="form-control" [(ngModel)]="service.servicePrice" name="servicePrice"/>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Tempo de Execução: *</label>
                  <input type="text" class="form-control" [(ngModel)]="service.serviceRuntime" name="serviceRuntime"/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Prazo de Serviço: *</label>
                  <input type="text" class="form-control" [(ngModel)]="service.serviceTerm" name="serviceTerm"/>
              </div>
          </div>
      </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!service.serviceID">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="service.serviceID">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="returnList()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>
