<div class="container">
  <h1 class="mt-4">Clientes</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Listar Cliente</li>
  </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning">
                <i class="fa fa-plus"></i> Cadastrar

            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
        <!--
 <form class="d-flex mb-5" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="searchValue" name="search">
          </form>
        -->
            <table class="table table-sm table-condensed table-hover">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                      <!-- <tr *ngFor="let client of clients |  paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalLength } "> -->
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.type }}</td>
                        <td>
                          <!--<button class=" btn btn-primary"
                                    routerLink="/form/{{ category.id }}">
                                <i class="fa fa-edit"></i>
                            </button>-->

                            <button class="ml-1 btn btn-danger" (click)="confirmDeletion(category)"
                                    data-toggle="modal" data-target="#modalDel">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <h4>Confirmação</h4>
                </div>
                <div class="modal-body">
                    <p>Confirma exclusão do(a) Cliente?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                class="btn btn-success" (click)="deleteCategory()">Confirmar</button>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
  </div>

